@page
@model ResultadoModel
@{
    ViewData["Title"] = "Resultado";
}

<div class="alert alert-success shadow-sm">
    <i class="bi bi-trophy-fill me-2"></i>
    Sua pontuação: <strong>@TempData["Pontuacao"]</strong> de 5
</div>

<a asp-page="/Ranking" class="btn btn-success">Ver Ranking</a>
